# This file is used to install the dependencies for the project.
# It is recommended to use a virtual environment to avoid conflicts with other projects.
# You can create a virtual environment using the following command:
# python -m venv venv
# Then activate the virtual environment using the following command:
# Windows: venv\Scripts\activate
# Linux/Mac: source venv/bin/activate
# After activating the virtual environment, you can install the dependencies using the following command:
# pip install -r requirements.txt

# ------------------------------------------------------
# Python 3.12 version project dependencies
# ------------------------------------------------------
requests>=2.31.0
python-dotenv>=1.0.1
urllib3>=2.2.1
matplotlib>=3.8.4
pandas>=2.2.2